<% layout('layout') -%>
<section class="flex flex-col justify-center mt-24 max-w-3xl w-full">
  <h2 class="text-xl mb-6 text-blue-500 text-center"><%= title %></h2>
  <a href="/category/create" class="self-start mb-3 ml-3 underline">+ Add new category</a>
  <hr class="w-full">
  <% categories.forEach((category) => { %>
    <div class="py-3 px-6">
      <a href="<%= category.url %>"><%= category.name %></a>
    </div>
    <hr class="w-full">
  <% }) %>
</section>
