<% layout('./layout') -%>
<section class="flex flex-col justify-center items-center mt-24 max-w-3xl w-full text-sm">
  <h2 class="text-xl mb-6 text-blue-500"><%= title %>
    <% if (typeof category !== 'undefined') { %>
      <%- partial('partials/edit_delete_svg', {editLink: category.url + '/update', delLink: category.url + '/delete', title: 'Category', items: items}) %>
    <% } %>
  </h2>
  <%- partial('partials/show_items', { items: items }) %>
</section>
